@model WebApplication3.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       <form method="post"
                          enctype="multipart/form-data"
                          class="needs-validation"
                          
                          data-ajax-url="PostCreate"
                          data-ajax-success="success"
                          data-ajax-complete="completed"
                          data-ajax-failure	="failure"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-mode="replace"
                        data-ajax-update="#StudentIndex"
                          asp-action="PostCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label class="control-label">Student name</label>*@
                <label asp-for="FirstName" class="customLabel"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div id="StudentIndex">
    <partial name="_GetStudents" />
</div>

@section Scripts {
    <script>
        function completed() {
            alert("Completed");
            console.log("complete");
        }
        function success(response) {
            alert("success");
            console.log("response", response);
        }
        function failure(response){
            alert("failure", response);
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
