html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.FuncyTitle {
    font-family: cursive;
    font-size: xxx-large;
    color: darkcyan;
}
.navbar {
    background-color:darkgray !important;
    color:white;
}

.customLabel{
    color:brown;
}

.container.HeaderTitle {
    text-align: center;
}